name: w_common
description: General utilities for Dart projects.
version: 1.19.0
author: Workiva Client Platform Team <team-clientplatform@workiva.com>
homepage: https://www.github.com/Workiva/w_common

environment:
  sdk: '>=1.24.3 <3.0.0'

dependencies:
  args: ^1.5.1
  async: ">=1.13.3 <3.0.0"
  colorize: ">=0.1.2 <3.0.0"
  dart2_constant: ^1.0.0
  glob: ^1.1.7
  intl: ">=0.14.0 <0.16.0"
  logging: ^0.11.0
  meta: ^1.0.4
  package_resolver: ^1.0.2
  package_config: ^1.0.3
  path: ^1.5.1
  sass: ^1.6.0 # NOTE: Need 1.18.0 when using Dart 2 SDK
  source_maps: ^0.10.5
  watcher: ^0.9.6

dev_dependencies:
  build_runner: ">=0.6.0 <1.0.0"
  build_test: ">=0.9.0 <1.0.0"
  build_web_compilers: ">=0.2.0 <1.0.0"
  dependency_validator: ^1.2.2
  mockito: '>=2.2.2 < 4.0.0'
  test: '>=0.12.34 <2.0.0'
