name: w_common
description: General utilities for Dart projects.
version: 1.11.0
author: Workiva Client Platform Team <team-clientplatform@workiva.com>
homepage: https://www.github.com/Workiva/w_common

environment:
  sdk: '>=1.12.0 <2.0.0'

dependencies:
  logging: ^0.11.0
  meta: ^1.0.4

dev_dependencies:
  coverage: ^0.7.2
  dart_dev: ^1.8.0
  dart_style: ^1.0.8
  dartdoc: ^0.13.0
  mockito: '>=0.8.0'
  test: ^0.12.4

transformers:
  - test/pub_serve:
      $include: test/**_test{s*.*,}dart

